<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="logo/Hatlogo.PNG" style="height: 100px; width: 250px;"/>
        </div>
        <h2 class="text-center">Transactions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < userDetails.length ; i++){  %>
                    <tr>
                      <th><%=  i %></th>
                      <th><%= userDetails[i].name %></th>
                      <th><%= userDetails[i].date%></th>
                      <th><%= userDetails[i].amount %></th>
                      <th><%= userDetails[i].pending?'pending':'completed' %></th>
                    </tr>
                  <% } %>
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>